@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
            @if (@User.IsInRole("Admin"))
            {
            <li class="nav-item">
                <button class="btn btn-danger" disabled>
                    Admin
                </button>
            </li>
            }
     <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="bi bi-person-circle"></i>
            </a>
    </li>
    <li class="nav-item">
            <form class="form-inline"  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-danger fixed-width-btn text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="btn btn-primary fixed-width-btn nav-btn m-1" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="btn btn-primary fixed-width-btn nav-btn m-1" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
